@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
        <div class="row">
            <div class="column">
                <div class="card">
                    <h3>Users</h3>
                    <br />
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="Activeusers">Active Users</a>
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="Newsignup">Newsignup</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Sales</h3>
                    <br />

                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="SalesLiners">Liners</a>
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="SalesStickers">Stickers</a>

                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>In Use</h3>
                    <br />
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="InuseItems">Item</a>
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="InuseLiners">Liner</a>
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="InuseStickers">Stickers</a>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <h3>Message</h3>
                    <br />
                    <a class="nav-link text-primary" asp-area="" asp-controller="Reports" asp-action="Messages">Message</a>
                    
                </div>
            </div>
        </div>
    </div>
